<!DOCTYPE html>
<html lang="en" ng-app="ToDo">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ToDo App with Angular.JS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="css/styles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div ng-controller="todoController" class="col-md-12">
                <form class="frm" name="frm" ng-submit="addTodo()">
                    <input type="text" name="newtodo" placeholder="type something.." ng-model="newTodo" required>
                    <button class="btn" ng-disabled="frm.$invalid">Go</button>
                </form>
                <div class="align">
                    <button class="btn" ng-click="clearCompleted()">Clear Completed</button>
                    <ul>
                        <li ng-repeat="todo in todos">
                        <input type="checkbox" ng-model="todo.done">
                        <span ng-class="{'done':todo.done}">{{todo.title}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>